<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <h1>{{user.name}}</h1>
    <h2>Atividades / Tarefas</h2>
    <h2>Pontos: {{user.score}}</h2>
  </ion-item>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Atividades</ion-item-divider>
      <button ion-item *ngFor="let activity of activities" (click)="abrirActivities(activity)">
                {{ activity.title }}
                <p class=float-right>{{activity.qtdCompleted}} / {{activity.qtdTotal}}</p>
            </button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="light">Tarefas</ion-item-divider>
      <button ion-item *ngFor="let task of tasks" (click)="abrirTarefas(task)">
                {{ task.title }}
            </button>
    </ion-item-group>
  </ion-list>
</ion-content>
