page-registertask {
    .button-container {
        text-align: center;
    }

    .button-md {
        width: 95%;
        margin: 0 auto;
        margin-top: 1em;
    }


    .checkbox-md {
        margin: 13px 8px 13px 0;
    }
}
